#Ignore everything
*

#Whitelisting all directories
!*/


#File types to be dumped in the repository
'gitattributes
.gitignore
!*.cpp
!*.txt
!*.py

#Ignores Testing and make files
Testing.cpp
test.cpp
CMakeFiles
CMakeCache.txt
CMakeScripts
